/* ---------------------------------------------- */
/* Title container : title & column button        */
/* ---------------------------------------------- */
.selectColumns {
	position: absolute;
	display: flex;
	flex-direction: row;
	right: 0;
	top: 29%;
}

.columnsBar {
	display: none;
	border: 1px solid #515e13;
	border-radius: 5px 0 5px 5px;
	background-color: #fbfbfb;
	width: auto;
	height: auto;
	padding: 0 5px;
}

.columnsBar.active {
	display: block;
}

.searchBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	margin: 0.5rem 0;
}

/* Reset default browser style for checkbox before applying custom style */
input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
}

input[type="checkbox"] {
	border-radius: 2px;
	height: 15px;
	width: 15px;
	background: #fff;
	border: 1px solid #ccc;
}

input[type="checkbox"]:checked {
	background: #515e13;
	margin: 0px;
}

/* --------------------------------------------- */
/* Miscellaneous                                 */
/* --------------------------------------------- */
.bg-color-custom {
	/*  background-color: rgb(94, 115, 14, 0.8);*/
	/* background-color: #A4B95B;*/
	background-color: #96ab49;
}